body{
    text-align:justify;
}
h1 
{
    text-align: justify;
}

ul 
{
   
    text-align: justify;
    list-style:none;
}

.name

{
    padding-top:10px;
    font-style:bold,italic;
    text-transform: capitalize;
    color:rgb(97, 137, 170)
}

form
{
    text-align:center;
    padding-top:30px;
}

p 
{
    padding-top:20px;
    text-align:justify;
}

.tgp

{
    color:rgb(145, 105, 177)
}

.card{
    margin:6px;
    
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Gossip</a>
      <a class="nav-item nav-link" href="#">Team</a>
      <a class="nav-item nav-link" href="#">Contact</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
  <form class="form-inline">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
</nav>